:root {
    --primary-color: #a9c9e2;
    --secondary-color: #cfe7f3;
    --dark: #202020;
    --light: #f4fafd;
    --hover-light: #e6f5fb;
    --error-color: #fa6868;

    --border-width: 1px;
    --border-radius: 10px;
    --border-color: var(--primary-color);
    --border-standard: var(--border-width) solid var(--border-color);
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom: var(--border-standard);
    padding-right: 2%;
}

#logInOutLink,
#backLink {
    text-decoration: none;
    font-size: 18px;
    color: var(--dark);
    background-color: var(--light);
    padding: 5px 10px;
    border: var(--border-standard);
    border-radius: var(--border-radius);
}

#logInOutLink:hover,
#backLink:hover {
    background-color: var(--hover-light);
}

#logInOutLink:active,
#backLink:active {
    background-color: var(--primary-color);
}

h1 {
    display: inline-block;
    color: var(--dark);
}

main {
    flex: 1;
    padding: 40px 0;
    background-color: var(--light);
}

#masterContainer {
    display: flex;
}

#requestContainer {
    display: flex;
    justify-content: end;
    min-width: 42vw;
    margin-right: 40px;
}

#backgroundContainer {
    padding: 15px;
    background-color: var(--secondary-color);
    border: var(--border-standard);
    border-radius: var(--border-radius);
    max-height: 391px;
    box-sizing: border-box;
}

#uploadContainer {
    margin-bottom: 10px;
}

#dropBox {
    height: 150px;
    border: var(--border-standard);
    border-radius: var(--border-radius);
    padding: 5px;
    height: 100px;
    width: 270px;
    box-sizing: border-box;
    background-color: var(--light);
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#fileInput {
    display: none;
}

.dragover {
    background-color: var(--primary-color) !important;
}

.variantContainer {
    padding: 7px 0 7px 8px;
    font-size: 17px;
}

.variant {
    margin-left: 2px;
    font-size: 15px;
    background-color: var(--light);
    border: var(--border-standard);
}

#modelTableLink {
    color: inherit;
}

#modelTableLink:focus,
#modelTableLink:active,
#modelTableLink:visited {
    color: inherit;
}

select {
    padding: 5px;
    border-radius: 5px;
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

#sendBtn {
    width: 269px;
    padding: 9px 0 9px 10px;
    margin-top: 10px;
    background-color: var(--light);
    font-size: 25px;
    border: var(--border-standard);
    border-radius: var(--border-radius);
    cursor: pointer;
}

#sendBtn:hover {
    background-color: var(--hover-light);
}

#sendBtn:active {
    background-color: var(--primary-color);
}

#sendBtn:disabled {
    background-color: var(--light);
    cursor: not-allowed;
}

#responseContainer {
    margin-bottom: 40px;
}

#resultsTable {
    border-collapse: collapse;
}

#resultsTable th,
#resultsTable td {
    font-size: 17px;
    border: var(--border-standard);
    text-align: center;
}

#resultsTable th {
    padding: 5px 12px;
}

#resultsTable td {
    padding: 10px;
}

.manageIcon {
    vertical-align: middle;
}

#viewBtn,
#downloadBtn,
#deleteBtn {
    background-color: var(--light);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

#viewBtn:hover,
#downloadBtn:hover,
#deleteBtn:hover {
    background-color: var(--hover-light);
}

#viewBtn:active,
#downloadBtn:active,
#deleteBtn:active {
    background-color: var(--primary-color);
}

#fileName {
    max-width: 102px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.success {
    background-color: var(--secondary-color);
}

.error {
    background-color: var(--error-color);
}

#loginContainer {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: var(--border-standard);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

input {
    font-size: 23px;
    padding: 2px 0 2px 5px;
    border: var(--border-standard);
    border-radius: var(--border-radius);
    background-color: var(--light);
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

#loginBtn,
#signUpBtn {
    font-size: 23px;
    border: var(--border-standard);
    border-radius: var(--border-radius);
    padding-bottom: 4px;
    background-color: var(--light);
}

#loginBtn:hover,
#signUpBtn:hover {
    background-color: var(--hover-light);
}

#loginBtn:active,
#signUpBtn:active {
    background-color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-top: var(--border-standard);
    padding: 16px 0;
    font-size: 17px;
}

footer p {
    display: inline-block;
    color: var(--dark);
}

#helpContainer {
    display: flex;
    justify-content: center;
}

#modelTable {
    align-self: center;
    margin-top: 5px;
    width: 25%;
    border-collapse: collapse;
    color: var(--dark);
}

#modelTable th,
#modelTable td {
    border: var(--border-standard);
    text-align: center;
}

#modelTable td {
    padding: 8px 6px;
}

#modelTable th {
    padding: 8px;
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 1280px) {
    header {
        padding-right: 4%;
    }

    #masterContainer {
        flex-direction: column;
        margin: 0;
    }

    #requestContainer {
        margin-right: 0;
        justify-content: center;
    }

    #responseContainer {
        margin: 40px 40px 0;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    #btnContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #responseContainer {
        margin: 40px 10px 0;
    }

    #viewBtn,
    #downloadBtn,
    #deleteBtn {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    #resultsTable th:nth-child(1),
    #resultsTable td:nth-child(1) {
        display: none;
    }

    #loginForm {
        width: 260px;
    }

    #modelTable {
        font-size: 13px;
    }
}